<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toplamacikarmaoyunu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToplamaÇikarmaOyunu">
        <activity
            android:name=".matematikOrta"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".matematigeGiris"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".rakamlariYaz"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".destek"
            android:exported="false" />
        <activity
            android:name=".sayiEgitim"
            android:exported="false" />
        <activity
            android:name=".testSayfasi"
            android:exported="false" />
        <activity
            android:name=".sayilariHesapla"
            android:exported="false" />
        <activity
            android:name=".saymaSayilar"
            android:exported="false" />
        <activity
            android:name=".egitimAnaSayfa"
            android:exported="false" />
        <activity
            android:name=".yarismaTanitim"
            android:exported="false" />
        <activity
            android:name=".siralama"
            android:exported="false" />
        <activity
            android:name=".yarismaMain"
            android:exported="false" />
        <activity
            android:name=".yarisma"
            android:exported="false" />
        <activity
            android:name=".gecisEkrani"
            android:exported="false" />
        <activity
            android:name=".cikarmaIslemi"
            android:exported="false" />
        <activity
            android:name=".toplamaIslemi"
            android:exported="false" />
        <activity
            android:name=".girisSayfasi"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6537190103014639~8050562678" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>